* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Rubik, sans-serif;
    background-color: hsl(226, 43%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    grid-template-areas:
        "profile work play study"
        "profile exercise social self-care";
    max-width: 70rem;
    margin: 1rem;
}
.profile-card {
    background-color: hsl(235, 46%, 20%);
    border-radius: 1rem;
    .profile-container {
        background-color: hsl(246, 80%, 60%);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        height: 70%;
        box-sizing: border-box;
        padding: 2rem;
        gap: 1rem;

        img {
            border: 3px solid white;
            border-radius: 50%;
            width: 5rem;
        }
        .profile-info {
            margin: 2rem 0;

            p {
                color:hsl(236, 100%, 87%);
            }
            h1 {
                color: white;
                font-size: 2.5rem;
                font-weight: 300;
            }
        }
    }
    .timeframes-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30%;
        padding: 2rem;
        gap: 0.5rem;
        box-sizing: border-box;

        p {
            color: hsl(235, 45%, 61%);
            cursor: pointer;
        }
        .active-timeframe {
            color: white;
        }
    }
}
.card {
    background-color: hsl(235, 46%, 20%);
    overflow: hidden;
    border-radius: 1rem;

    .top-card {
        z-index: 1;
        height: 30%;
        img {
            width: 4.5rem;
            height: 4.5rem;
            object-fit: cover;
            float: right;
            margin-right: 1rem;
            transform: translateY(-10%);
        }
    }

    .main-card {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        background-color: hsl(235, 46%, 20%);
        color: white;
        border-radius: 1rem;
        padding: 2rem;
        box-sizing: border-box;
        height: 85%;
        transform: translateY(-2.5rem);
        gap: 0.8rem;
        cursor: pointer;

        .title-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-weight: 500;
                font-size: 1.2rem;
            }
            img {
                cursor: pointer;
            }
        }

        .time-container {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h1 {
                font-size: 3.5rem;
                font-weight: 300;
            }
            p {
                color: hsl(236, 100%, 87%);
            }
        }
    }
}

@media (max-width: 1020px) {
    body {
        align-items: flex-start;
        height: auto;
    }
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "profile profile"
            "profile profile"
            "work play"
            "study exercise"
            "social self-care";
        gap: 0.8rem;
        width: 90%;
        max-width: 45rem;
    }
    .profile-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .profile-container {
            height: auto;
        }
        .timeframes-container {
            flex-direction: row;
            justify-content: space-around;
            height: auto;
        }
    }
    .card { 
        .main-card {
            gap: 0rem;
            padding: 1.5rem;

            .time-container {
                h1 {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

@media (max-width: 600px) or (max-height: 500px) {
    body {
        margin: 2rem 0.5rem;
        height: auto;
    }
    .container {
        width: 100%;
        max-width: 25rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, auto);
        grid-template-areas:
            "profile"
            "work"
            "play"
            "study"
            "exercise"
            "social"
            "self-care";
    }

    .profile-card {
        .profile-container {
            flex-direction: row;
            align-items: center;
            height: auto;
            padding: 1rem 1.5rem;
            img {
                width: 3rem;
                height: 3rem;
            }
            .profile-info {
                h1 {
                    font-size: 1.5rem;
                }
            }
        }
        .timeframes-container {
            padding: 1rem;
        }
    }
    .card {
        .main-card {
            .time-container {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                h1 {
                    font-size: 2rem;
                }
            }
        }
    }
}

.profile-card .timeframes-container p:hover {
    color: white;
}
.card .main-card:active {
    background-color: hsl(235, 45%, 31%);
}
.card .main-card .title-container img:hover {
    filter: brightness(300%);
}